{% block content %}
<h2>Login</h2>
<form action="" method="POST">
    {{ form.csrf_token }}
    <div class="form-group">
        <label>E-mail:</label>
        {{ form.email( class="form-control") }}
        {% if form.errors.email %}
        <div class="alert alert-danger" role="alert">
            {{ forms.errors.email}}
        </div>
        {% endif %}
    </div>
    <br>
    <div class="form-group">
        <label>Senha:</label>
        {{ form.senha( class="form-control") }}
        {% if form.errors.senha %}
        <div class="alert alert-danger" role="alert">
            {{ forms.errors.senha}}
        </div>
        {% endif %}
    </div>
    <br>
    <input type="submit" value="Entrar">
</form>
{% endblock %}