<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>TheMovies</title>
</head>

<body>
    <h1>
        The Movies
    </h1>

    <form action="/action_page.php" style="margin:auto;max-width:300px">
        <h2>Login</h2>
        <label for="email">E-mail:</label>
        <input type="email" id="email" name="email"><br><br>

        <label for="senha">Senha:</label>
        <input type="password" id="senha" name="senha"><br><br>

        <input type="submit" value="Submit">
    </form>
</body>

</html>