{% extends "base.html" %}
{% block body %}
<!DOCTYPE html>
<html>

<head>
    <title>The Movies</title>
</head>

<body>
    <h1>The Movies</h1>
    {% if current_user.is_authenticated %}
    <div>
        <pre><a href="{{ url_for('perfis')}}">Voltar</a>  <a href="{{ url_for('deslogar')}}">Logout</a></pre>
    </div>
    <div style="display:flex; justify-content: space-between;margin:auto;">
        <div style="width:50%">
            <h2>Perfil {{ nomePerfil }} </h2>
            <form action="" method="POST">
                {{ buscaForm.csrf_token }}
                <div class="form-group">
                    {{ buscaForm.filme( class="form-control") }}
                    {% if buscaForm.errors.filme %}
                    <div class="alert alert-danger" role="alert">
                        {{ buscaForm.errors.filme}}
                    </div>
                    {% endif %}
                    <input type="submit" value="Buscar filme">
                </div>
            </form>

            <h3>Resultados:</h3>
            {% if filmes %}
            <ol class="flashes">
                {% for filme in filmes %}
                <li>{{ filme['original_title'] }}</li>
                {% endfor %}
            </ol>
            {% endif %}
        </div>
        <div style="width:50%">
            <h3>Filmes Sugeridos</h3>
        </div>
        <div style="width:50%">
            <h3>Watchlist</h3>
        </div>
        {% else %}
        <h2>Realize o login para acessar sua conta</h2>
        <a href="{{ url_for('logar')}}">Login</a>
        {% endif %}

    </div>
</body>

</html>
{% endblock %}