{% extends "base.html" %}
{% block body %}
<!DOCTYPE html>
<html>

<head>
    <title>The Movies</title>
</head>

<body>
    <h1>The Movies</h1>
    <div>
        {% if current_user.is_autheticated %}
        <h2>{{ current_user.nome}}</h2>
        <a href="{{ url_for('deslogar')}}">Logout</a>

        <form class="example" action="">
            <input type="text" placeholder="Buscar filme" name="search2">
            <button type="submit">Buscar</button>
        </form>

        {% else %}
        <a href="{{ url_for('logar')}}">Login</a>
        {% endif %}

        <form action="" method="POST">
            {{ form.csrf_token }}
            <div class="form-group">
                {{ form.filme( class="form-control") }}
                {% if form.errors.filme %}
                <div class="alert alert-danger" role="alert">
                    {{ form.errors.filme}}
                </div>
                {% endif %}
                <input type="submit" value="Buscar">
            </div>
        </form>
        {% if filmes %}
        <ul class="flashes">
            {% for filme in filmes %}
            <li>{{ filme['original_title'] }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
</body>

</html>
{% endblock %}